/**/
/* ==============================================
   FONTS
   ============================================== */

@font-face {
    font-family: 'ChanticleerRomanNF Bold';
    src: url('fonts/chanticleerRomanNF/hinted-ChanticleerRomanNF-Bold.eot');
    src: 
    url('fonts/chanticleerRomanNF/hinted-ChanticleerRomanNF-Bold.woff') format('woff'),
    url('fonts/chanticleerRomanNF/hinted-ChanticleerRomanNF-Bold.woff2') format('woff2'),
    url('fonts/chanticleerRomanNF/hinted-ChanticleerRomanNF-Bold.ttf') format('truetype'),
    url('fonts/chanticleerRomanNF/hinted-ChanticleerRomanNF-Bold.svg#filename') format('svg');
}

@font-face {
    font-family: 'ChanticleerRomanNF';
    src: url('fonts/chanticleerRomanNF/hinted-ChanticleerRomanNF.eot');
    src: 
    url('fonts/chanticleerRomanNF/hinted-ChanticleerRomanNF.woff') format('woff'),
    url('fonts/chanticleerRomanNF/hinted-ChanticleerRomanNF.woff2') format('woff2'),
    url('fonts/chanticleerRomanNF/hinted-ChanticleerRomanNF.ttf') format('truetype'),
    url('fonts/chanticleerRomanNF/hinted-ChanticleerRomanNF.svg#filename') format('svg');
}

@font-face {
    font-family: 'Cliche';
    src: url('fonts/cliche/hinted-Cliche-Regular.eot');
    src: 
    url('fonts/cliche/hinted-Cliche-Regular.woff') format('woff'),
    url('fonts/cliche/hinted-Cliche-Regular.woff2') format('woff2'),
    url('fonts/cliche/hinted-Cliche-Regular.ttf') format('truetype'),
    url('fonts/cliche/hinted-Cliche-Regular.svg#filename') format('svg');
}

@font-face {
    font-family:'Enge Holzschrift-Shadow';
    src: url('fonts/EngeHolzschrift/hinted-EngeHolzschrift-Shadow.eot');
    src: 
    url('fonts/EngeHolzschrift/hinted-EngeHolzschrift-Shadow.woff') format('woff'),
    url('fonts/EngeHolzschrift/hinted-EngeHolzschrift-Shadow.woff2') format('woff2'),
    url('fonts/EngeHolzschrift/hinted-EngeHolzschrift-Shadow.ttf') format('truetype'),
    url('fonts/EngeHolzschrift/hinted-EngeHolzschrift-Shadow.svg#filename') format('svg');
}

@font-face {
    font-family: 'Enge Holzschrift';
    src: url('fonts/EngeHolzschrift/hinted-EngeHolzschrift.eot');
    src: 
    url('fonts/EngeHolzschrift/hinted-EngeHolzschrift.woff') format('woff'),
    url('fonts/EngeHolzschrift/hinted-EngeHolzschrift.woff2') format('woff2'),
    url('fonts/EngeHolzschrift/hinted-EngeHolzschrift.ttf') format('truetype'),
    url('fonts/EngeHolzschrift/hinted-EngeHolzschrift.svg#filename') format('svg');
}

body{
    font-family: 'ChanticleerRomanNF', serif;
    font-weight:normal;
}

h1,h2,h3,h4,h5 {
    font-family: 'Cliche','Enge Holzschrift', sans-serif;
    font-weight:normal;

    }
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
/* ==============================================
   GLOBAL STYLES
   ============================================== */
body{
    overflow-x: hidden;
background-image: linear-gradient(#310055,#D6005B);
background-repeat: no-repeat;
}

.spacer5 {
    height: 10px;
}

iframe{
    border: none;
    box-shadow: 10px 10px 20px 0 rgba(255, 255, 255, 0.466),-10px -10px 20px 0 rgba(255, 255, 255, 0.466);
}

/* ==============================================
   Header
   ============================================== */
.header{
    background-color: #3000556c;
    position: fixed;
    width: 100%;
    z-index: 999;
    height:50px;
    font-size: 2em;
    text-align: center;
    color: #D6005B;
}

/* ==============================================
bootstrap components
============================================== */

/* ======== Card ======== */
.card{
    background: rgba(255, 255, 255, 0);
    margin:0px 10px 0px 10px;
}
.card-body{
    background: rgba(88, 88, 88, 0.452);
    color:white;
    font-size: 3em;
    text-align: center;
}

/* ======== Carousel ======== */

.carousel{
    box-shadow: 2px 2px 5px black,-2px -2px 5px black;
}
.carousel-caption{
    text-shadow:0 0 10px black ,0 0 10px white;
}

.carousel-caption button:focus,.carousel-caption button:hover {
    background-color: rgb(29, 135, 156);
}
    
.carousel .btn-primary, #buyPlaylist{
    text-shadow: 0 0 5px white;
}

.carousel-indicators{
    bottom: -5px;
}
.carousel-indicators li {
        background-color: #310055;
        Width:0.8em;
        height: 0.8em;
        border-radius: 50px;
        margin-left: 15px;
        margin-right:15px;
}
.carousel-indicators li.active{
        background-color: #D6005B;
}
    .carousel-control-prev, .carousel-control-next{
    box-shadow: 0 0 10px rgb(255, 255, 255);
}
/* ======== modal ======== */
.modal-footer, .modal-header{
    border: none;
}
.modal-content{
    background-image: linear-gradient(#D6005B,#310055);
    color: white;
}
.modal-footer a.btn{
    box-shadow: 2px 2px 5px #D6005B,-2px -2px 5px #D6005B;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    border: none;
}
#buyPlaylist{
    box-shadow: 2px 2px 5px #310055,-2px -2px 5px #310055;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    border: none;
}

.modal .close{
 color:white;
}
.modal button.close:focus,.modal button.close:hover{
    background-color: transparent;
    color: white;
}

body.modal-open .blur-container{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}
/* ==============================================
   Buttons
   ============================================== */

.btn-primary{
    border-color: #009688;
    background-color: rgba(45, 254, 233, 0.178);
    border-radius: 20px;
}
.btn-primary.playSong{
    border-radius: 5px;
    border:rgba(255, 255, 255, 0);
    
}
.btn-primary.playSong:focus,.btn-primary.playSong:hover{
    text-shadow: 0 0 10px rgb(255, 255, 255);
    
}

.btn-primary:focus,.btn-primary:hover{
    background-color: rgba(29, 133, 156, 0.493)
}

/* ==============================================
   Footer
   ============================================== */

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }

  .footer {
    background-image: url('../images/footer.svg') ;
    background-repeat: no-repeat;
    background-size:100%; 
    position: fixed;
    z-index:999;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px;

    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }

/* ==============================================
   Social media menu
   ============================================== */

  a { color: inherit; }
  
  .menu-item, .menu-open-button {
    background: #D6005B;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    line-height: 80px;
    font-size: 0.5em;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  }
  
  .menu-open { display: none; }
  

  
  .menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  
  .menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  
  .menu-open:checked + .menu-open-button .line-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
  
  .menu {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    box-sizing: border-box;
    font-size: 26px;
  }
  
  .menu-item:hover {
    background: #EEEEEE;
    color: #3290B1;
  }
  
  .menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
  }
  
  .menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
  }
  
  .menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
  }
  
  .menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  }
  
  .menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }
  
  .menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  }
  
  .menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  }
  
  .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
    transform: translate3d(0.08361px, -104.99997px, 0);
  }
  
  .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(90.9466px, -52.47586px, 0);
  }
  
  .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
    transform: translate3d(-91.03006px, -52.33095px, 0);
  }
  
  .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    transform: translate3d(0.08361px, 104.99997px, 0);
  }
  
  
  .item-1 {
    border:solid 1px #3290B1;
    background-image: url('../images/iconmonstr-facebook-1.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 70%;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);

  }
  
  .item-1:hover {
    background-color: #3290B1;
    background-image: url('../images/iconmonstr-facebook-1.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 70%;
    text-shadow: none;
    fill: greenyellow;

  }
  
  .item-2 {
    border:solid 1px #3290B1;
    background-image: url('../images/iconmonstr-twitter-1.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 70%;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  
  .item-2:hover {
    background-color: #3290B1;
    background-image: url('../images/iconmonstr-twitter-1.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 70%;
    text-shadow: none;
  }
  
  .item-3 {
    border:solid 1px #3290B1;
    background-image: url('../images/iconmonstr-instagram-1.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 70%;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
  
  .item-3:hover {
    background-color: #3290B1;
    background-image: url('../images/iconmonstr-instagram-1.svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 70%;
    text-shadow: none;
  }
  
  .citem-3it {
    margin: 24px 20px 120px 0;
    text-align: right;
    color: #EEEEEE;
  }
  
  .citem-3it a {
    padding: 8px 0;
    color: #C49CDE;
    text-decoration: none;
    transition: all 0.3s ease 0s;
  }
  
  .citem-3it a:hover { text-decoration: underline; }

/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/
@media (max-width: 575px) {
    body {
        font-size: 0.8em; /* 0.8x default size */
        height: 640px;
        }
    .btn-primary{
        font-size: 0.9em;
    }
    .btn-primary.btn-primary#buyPlaylist{
        height:100px;
    }
    .btn-primary.btn-primary#buyPlaylist p{
        font-size:1.3em;
        margin-top:30px;
        
    }

    .carousel h3, .carousel p{
        font-size: 1.5em;
    }
    .carousel-inner, .carousel-item{
        height: 350px;
    }
    .carouselM{
        display: block;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        width:360px; /* Width of new image */
        height: 350px; /* Height of new image */
        padding-left: 100%; /* Equal to width of new image */
    }
    .carousel-indicators li {
        margin-left: 5px;
        margin-right:5px;
    }

    #tourist_lemc_carouselM{
        background: url(../images/tourist_lemc_carouselM.jpg) no-repeat;
    }
    #edSheeran_carouselM{
        background: url(../images/edSheeran_carouselM.jpg) no-repeat;

    }
    #bazart_carouselM{
        background: url(../images/bazart_carouselM.jpg) no-repeat;
    }

}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    body {
        font-size: 1.2em; /* 1.2x default size */
        height: 700px;
        }
    .btn-primary{
        font-size: 0.6em;
    }
    .btn-primary.btn-primary#buyPlaylist{
        width:100%;
        height:100%;
    }
    .btn-primary.btn-primary#buyPlaylist p{
        font-size:0.8em;
        margin-top: 5px;
    }
}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    body {
        font-size: 1em; /* 1.5x default size */
        height: 800px;
    }
    .btn-primary{
        font-size: 1em;
    }
    .btn-primary.btn-primary.playSong{
        font-size: 0.5em;
    }
    .btn-primary.btn-primary#buyPlaylist{
        width:100%;
        height:100%;
    }
    .btn-primary.btn-primary#buyPlaylist p{
        font-size:0.8em;
        margin-top: 5px;
    }
    .carousel-indicators li {
        margin-left: 10px;
        margin-right:10px;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    body {
        font-size: 1em; /* 1.5x default size */
        height: 1024px;
    }
    .btn-primary{
        font-size: 1em;
    }
    .btn-primary.btn-primary#buyPlaylist{
        width:100%;
    }
    .btn-primary.btn-primary#buyPlaylist p{
        font-size:1.2em;
        margin-top: 10px;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    body {
        font-size: 1em; /* 1.5x default size */
        height: 1000px;
    }
    .btn-primary{
        font-size: 1.5em;
    }
    .carousel-caption h3, .carousel-caption p{
        font-size: 2em;
    }
    .carousel-indicators li {
        margin-left: 15px;
        margin-right:15px;
    }

    .btn-primary.btn-primary.playSong{
        font-size: 1em;
    }
    .btn-primary.btn-primary#buyPlaylist{
        width:100%;
    }
    .btn-primary.btn-primary#buyPlaylist p{
        font-size:1em;
        margin-top: 10px;
    }
}